{% extends "layout.html" %}

{% block sidebar %}
    <h3>Commodities</h3>
    <div class="sidebar-list">
    {% for item in commodities %}
        <a href="{{ url_for('show_commodity', selected_id=item.id) }}"
        class="sidebar-item {% if selected_symbol == item.id|string %}active{% endif %}">
        {{ item.name }}
    </a>
    {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <h2>{{ stock_data.name }}</h2>
    <p>Total US Production (2024): {{ "{:,.1f}".format(stock_data.total_volume).rstrip('0').rstrip('.') }} Metric Tons</p>
    <p>Percentage Exported: {{"{:.2f}%".format((stock_data.export_volume/stock_data.total_volume) * 100)}}</p>
    <p>Export Value: ${{ "{:,.1f}".format(stock_data.export_value / 1000).rstrip('0').rstrip('.') }} M</p>
    <p>Exported Volume: {{ "{:,.1f}".format(stock_data.export_volume).rstrip('0').rstrip('.') }} Metric Tons</p>
    <h2>Export Graphs</h2>
    <div class="plot-gallery">
        {% for commodity, filename in plot_filenames.items() %}
        <div class="plot-card">
            <h4>{{ commodity.capitalize() }}</h4>
            <img src="{{ url_for('static', filename='plots/' ~ filename) }}" alt="{{ commodity }} export graph" style="max-width: 500px; width: 100%; height: auto; border: 1px solid #ccc; padding: 10px;">
        </div>
        {% endfor %}
    </div>
    <div class="news-section">
        <h2>Related News</h2>
        {% for article in news %}
        <div class="news-item">
            <h3>
                <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
            </h3>
            <p>{{ article.description }}</p>
            <p><small>{{ article.publishedAt }}</small></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}